
<% if notice.present? %>
    <div id="flash-messages" data-type="success" data-message="<%= notice %>"></div>
<% elsif alert.present? %>
    <div id="flash-messages" data-type="error" data-message="<%= alert %>"></div>
<% end %>